---
import '@/styles/globals.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="bg-image-narrow.png" as="image">
		<title>Al Naslaa</title>
		<style>
			@font-face { font-family: 'Gotham Rounded Bold'; 
			src: url('gotham-rounded-bold.otf') format('opentype');
			}
			html, body {
				font-family: 'Gotham Rounded Bold', sans-serif;
				max-height: 100vh;
				height: 100%;
			}
			img {
				height: 100vh;
			}
			body {
				touch-action: none;
			}
			@keyframes wipe-out-up {
			from {
				clip-path: inset(0 0 0 0);
			}
			to {
				clip-path: inset(0 0 100% 0);
			}
			}
			[transition-style="out:wipe:up"] {
				animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-out-up both;
				animation-delay: 1s;
			}

			[transition-style="out:wipe:up2"] {
				animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-out-up both;
				animation-delay: 1.75s;
			}

			[transition-style="out:wipe:up3"] {
				animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-out-up both;
				animation-delay: 2.5s;
			}

			[transition-style="out:wipe:up4"] {
				animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-out-up both;
				animation-delay: 3.75s;
			}
		</style>
	</head>
	<body>
		<main class="grid justify-center items-center w-full relative">
			<h2 class="absolute top-[35%] md:top-[5%] p-4 text-[#aff9c7] drop-shadow-lg text-2xl md:text-4xl font-bold text-center w-full capitalize">coming soon...</h2>
			<img class="w-[100vw] col-start-1 row-start-1 object-cover object-[center_75%]" src="./al-naslaa-art.png" />
			<img 
			transition-style="out:wipe:up4"
			class="w-[100vw] col-start-1 row-start-1 object-cover object-[center_75%]" src="al-naslaa.jpg" />
			<img 
			transition-style="out:wipe:up3"
			class="w-[100vw] col-start-1 row-start-1 object-cover object-[center_75%]" src="al-naslaa-contrast.jpg" />
			<img 
			transition-style="out:wipe:up2"
			class="w-[100vw] col-start-1 row-start-1 object-cover object-[center_75%]" src="al-naslaa-black-contrast.jpg" />
			<img 
			transition-style="out:wipe:up"
			class="w-[100vw] col-start-1 row-start-1 object-cover object-[center_75%]" src="al-naslaa-black-white.jpg" />
		</main>
		<script is:inline>
			function sleepFor(sleepDuration){
				var now = new Date().getTime();
				while(new Date().getTime() < now + sleepDuration){ /* Do nothing */ }
			}
			// document.querySelectorAll("img").forEach(
			// 	(elm) => {
			// 		window.requestAnimationFrame(()=>{
			// 			elm.setAttribute("transition-style", "out:wipe:up");
			// 			// sleepFor(1000);
			// 		})
			// 	}
			// )
		</script>
	</body>
</html>
